version: '3'
services:
  mysqldb:
    container_name: mysqldb
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: adminadmin
      MYSQL_USER: admin
      MYSQL_DATABASE: customerdb
      MYSQL_TCP_PORT: 3306
    ports:
    - 3306:3306
    networks:
      springboot-mysql-net:

  springboot-restful-webservices:
    container_name: springboot-packers-movers
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    depends_on:
      - mysqldb
    networks:
      springboot-mysql-net:
    restart: on-failure

networks:
  springboot-mysql-net:
